<h2>Latest posts:</h2>

<br/>
<% @posts.each do |post| %>
	<p>
		<%= post.content %>
		<br/>
		<br/>
		<p>
		<span style="font-size: 75%; color: #999">Added at <%= post.author %></span>
		<!-- Author name: <%= post.author %> -->
		</p>
		<span style="font-size: 75%; color: #999">Added at <%= post.created_at %></span>
		<!-- Added at <%= post.created_at %> -->
		<br/>
		<br/>
		<a href="/comments/<%= post.id %>">Comments</a>
	</p>
	<hr/>
<% end %>